Flask==3.0.3
Flask-CORS==4.0.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
tensorflow==2.18.0
requests==2.32.3
Werkzeug==3.0.4
Jinja2==3.1.4
MarkupSafe==3.0.1
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2
selenium==4.15.0
webdriver-manager==4.0.1
flask-socketio==5.3.6